In [1]:
import pandas as pd

In [4]:
tbl=pd.DataFrame({"weight":[80.0,70.4,65.5,45.9,51.2,72.5],
                "height":[170,180,155,143,154,160],
                  "gender":["f","m","m","f","f","m"]
                 })

In [7]:
tbl[tbl.height>=160]

   weight  height gender
0    80.0     170      f
1    70.4     180      m
5    72.5     160      m